In [ ]:
#read CSV files
import pandas as pd
df = pd.read_csv("C:\\Users\\sujit\\Downloads\\color_x11.csv")
df

               Name      HEX              RGB
0        Alice Blue  #F0F8FF   rgb(94,97,100)
1     Antique White  #000000    rgb(98,92,84)
2              Aqua  #00FFFF   rgb(0,100,100)
3        Aquamarine      NaN   rgb(50,100,83)
4             Azure  #F0FFFF  rgb(94,100,100)
5             Beige  #F5F5DC    rgb(96,96,86)
6            Bisque  #FFE4C4   rgb(100,89,77)
7             Black  #000000       rgb(0,0,0)
8   Blanched Almond  #FFEBCD   rgb(100,92,80)
9              Blue  #0000FF       rgb(0,0,0)
10      Blue Violet  #8A2BE2    rgb(54,17,89)
11            Brown  #A52A2A    rgb(65,16,16)
12        Burlywood  #DEB887    rgb(87,72,53)
13       Cadet Blue  #5F9EA0    rgb(37,62,63)

In [23]:
#data manipulation operations- grouping
group_data = df.groupby('HEX')
result = group_data.count()
print(result)

         Name  RGB
HEX
#000000     2    2
#0000FF     1    1
#00FFFF     1    1
#5F9EA0     1    1
#8A2BE2     1    1
#A52A2A     1    1
#DEB887     1    1
#F0F8FF     1    1
#F0FFFF     1    1
#F5F5DC     1    1
#FFE4C4     1    1
#FFEBCD     1    1

In [27]:
#data manipulation operations- filtering
filter_df = df[df['RGB'] == 'rgb(0,0,0)']
print(filter_df)

    Name      HEX         RGB
7  Black  #000000  rgb(0,0,0)
9   Blue  #0000FF  rgb(0,0,0)

In [28]:
#data manipulation operations- sorting
df = df.sort_values(by = 'RGB')
print(df)

               Name      HEX              RGB
7             Black  #000000       rgb(0,0,0)
9              Blue  #0000FF       rgb(0,0,0)
2              Aqua  #00FFFF   rgb(0,100,100)
6            Bisque  #FFE4C4   rgb(100,89,77)
8   Blanched Almond  #FFEBCD   rgb(100,92,80)
13       Cadet Blue  #5F9EA0    rgb(37,62,63)
3        Aquamarine      NaN   rgb(50,100,83)
10      Blue Violet  #8A2BE2    rgb(54,17,89)
11            Brown  #A52A2A    rgb(65,16,16)
12        Burlywood  #DEB887    rgb(87,72,53)
4             Azure  #F0FFFF  rgb(94,100,100)
0        Alice Blue  #F0F8FF   rgb(94,97,100)
5             Beige  #F5F5DC    rgb(96,96,86)
1     Antique White  #000000    rgb(98,92,84)

In [29]:
#manipulation data frames 
data = df.to_csv("color_x11.csv", index = False)
print(data)

None

In [30]:
#removing duplicate data
df.drop(axis=1, index=8)
data_drop = df.drop_duplicates(subset=['HEX'])
print(data_drop)

               Name      HEX              RGB
7             Black  #000000       rgb(0,0,0)
9              Blue  #0000FF       rgb(0,0,0)
2              Aqua  #00FFFF   rgb(0,100,100)
6            Bisque  #FFE4C4   rgb(100,89,77)
8   Blanched Almond  #FFEBCD   rgb(100,92,80)
13       Cadet Blue  #5F9EA0    rgb(37,62,63)
3        Aquamarine      NaN   rgb(50,100,83)
10      Blue Violet  #8A2BE2    rgb(54,17,89)
11            Brown  #A52A2A    rgb(65,16,16)
12        Burlywood  #DEB887    rgb(87,72,53)
4             Azure  #F0FFFF  rgb(94,100,100)
0        Alice Blue  #F0F8FF   rgb(94,97,100)
5             Beige  #F5F5DC    rgb(96,96,86)